input[type='text'],
input[type='password']
{
    border:2px solid #a0a0a0;
    width:99%;
    background-color:#ffffff;
    font-size:larger;
    color:#404040
}

select
{
	/*font-size:larger;*/
}

input[type='text']:focus,
input[type='password']:focus
{
    border:2px solid orange;
}

textarea
{
    border:1px solid #a0a0a0;
    width:100%;
    /*font-size:larger;*/
    font-family:"Helvetica", sans-serif
}

textarea:focus
{
    border:1px solid orange;
}

input[type='submit']
{
	/*font-size:larger;*/
	font-weight:bold;
}

label
{
	/*font-size:large;*/
    font-weight:bold;
    color:#808080;
}

div.fapi-element-div
{
	margin-bottom:10px;
}

div.fapi-description
{
	color:#a0a0a0;
}

div.fapi-submit-area
{
	padding-top:10px;
	border-top:1px solid #f0f0f0;
}

span.fapi-required
{
	color:orange;
}

input[type='text'].fapi-error
{
	border:1px solid red;
}

div.fapi-error
{
	background-color:pink;
    border-radius:5px;
    -moz-border-radius:5px;
    margin-bottom:5px;
}

div.fapi-error > ul
{
	list-style:none;
	padding:5px;
	margin:0px;
}