@CHARSET "US-ASCII";

.fapi-table {
	width: 100%;
}

table.fapi-table td {
	/*padding-bottom: 10px;*/
	vertical-align: top;
}

.fapi-form {
	font-family: Arial, Helvetica, Sans;
}

#fapi-submit-area {
	padding: 10px;
}

.fapi-fieldset {
	border-color: #a0a0a0;
}

.fapi-fieldset legend {
	font-weight: bold;
}

/*****************************
	BASIC ELEMENT
******************************/
div.fapi-element-div {
	padding: 5px;
	padding-bottom: 15px;
}

.fapi-label {
	font-weight: bold;
	color: #606060;
}

.fapi-description {
	font-size: small;
	color: #808080;
}

/********************************
RADIO BUTTON
********************************/
div.fapi-radio-button {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*******************************
TEXT FIELDS
*******************************/
.fapi-textfield {
	width: 100%;
}

span.fapi-required {
	color: #ff8000;
}

input.fapi-textfield {
	
}

.required {
	background-color: #fff0d0;
}

.numeric {
	width: 40%;
}

.text {
	width: 100%;
}

.fapi-error
{
border:1px solid red;	
}

.code
{
width:40%;	
}

div.fapi-error
{
background-color:pink;
border:1px solid red;
margin-bottom:5px;
color:red;
}

div.fapi-error ul
{
margin:0px;
padding:5px;
padding-left:20px;
}

/***************************
TAB LAYOUT
****************************/
ul.fapi-tab-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

li.fapi-tab-selected {
	background-color: #e0e0e0;
	padding-top: 10px;
}

li.fapi-tab-unselected {
	background-color: #a0a0a0;
}

ul.fapi-tab-list li { /*display:inline;*/
	float: left;
	margin-right: 5px;
	padding: 5px;
}

ul.fapi-tab-list li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

div.fapi-tab-unselected {
	display: none;
}

div.fapi-tab {
	background-color: #e0e0e0;
	border:1px #404040;
	clear: both;
	padding: 10px;
}