@CHARSET "US-ASCII";

div.fapi-element-div
{
padding:10px;
}

.fapi-label
{
font-weight:bold;	
}

div.fapi-description
{
font-size:small;
color:#808080;
}

div.fapi-radio-button
{
padding-top:2px;
padding-bottom:2px;
}

span.fapi-required
{
color:#ff8000;	
}

input.fapi-textfield
{
width:50%;
}

.required
{
background-color:#fff0d0;	
}

.error
{
border:1px solid red;	
}

div.error
{
background-color:pink;
border:1px solid red;
margin-bottom:5px;
color:red;
}

div.error ul
{
margin:0px;
padding:5px;
padding-left:20px;
}
