/** Shadows */
.small-inset-soft-shadow
{
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5);
}

.big-soft-shadow
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.small-soft-shadow
{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.small-soft-shadow-bottom
{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
}

/** rounded */
.rounded-5px
{
    border-radius:5px;
    -moz-border-radius:5px;
}

.rounded-3px
{
    border-radius:5px;
    -moz-border-radius:5px;
}